{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "chrome": "90",
            "firefox": "88",
            "safari": "14",
            "edge": "90"
          },
          "bugfixes": true,
          "shippedProposals": true,
          "useBuiltIns": false,
          "modules": false
        }
      }
    ]
  ]
}
